[submodule "libs/circom-secp256k1"]
	path = libs/circom-secp256k1
	url = https://github.com/0xPARC/circom-secp256k1.git
[submodule "libs/circomlib"]
	path = libs/circomlib
	url = https://github.com/iden3/circomlib.git
